# RFP: Betting on the Bachelor

## Project Overview
You are invited to submit a proposal that answers the following question:

### Who will win season 29 of the Bachelor?

*All proposals must be submitted by **1/15/25 at 11:59 PM**.*

## Required Proposal Components

### 1. Data Description
In the code cell below, read in the data you plan on using to train and test your model. Call `info()` once you have read the data into a dataframe. Consider using some or all of the following sources:
- [Scrape Fandom Wikis](https://bachelor-nation.fandom.com/wiki/The_Bachelor) or [the official Bachelor website]('https://bachelornation.com/shows/the-bachelor/')
- [Ask ChatGPT to genereate it](https://chatgpt.com/)
- [Read in csv files like this](https://www.kaggle.com/datasets/brianbgonz/the-bachelor-contestants?select=contestants.csv)

*Note, a level 5 dataset contains at least 1000 rows of non-null data. A level 4 contains at least 500 rows of non-null data.*

In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
df = pd.read_csv("contestants.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 423 entries, 0 to 422
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        423 non-null    object
 1   Age         422 non-null    float64
 2   Occupation  423 non-null    object
 3   Hometown    423 non-null    object
 4   Height      30 non-null     float64
 5   ElimWeek    406 non-null    float64
 6   Season      423 non-null    int64
dtypes: float64(3), int64(1), object(3)
memory usage: 23.3+ KB

In [5]:
df = df.drop(["Height"], axis=1)
df_clean = df.dropna()

### 2. Training Your Model
In the cell seen below, write the code you need to train a linear regression model. Make sure you display the equation of the plane that best fits your chosen data at the end of your program. 

*Note, level 5 work trains a model using only the standard Python library and Pandas. A level 5 model is trained with at least two features, where one of the features begins as a categorical value (e.g. occupation, hometown, etc.). A level 4 uses external libraries like scikit or numpy.*

In [7]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 405 entries, 1 to 422
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        405 non-null    object
 1   Age         405 non-null    float64
 2   Occupation  405 non-null    object
 3   Hometown    405 non-null    object
 4   ElimWeek    405 non-null    float64
 5   Season      405 non-null    int64
dtypes: float64(2), int64(1), object(3)
memory usage: 22.1+ KB

In [8]:
X = df_clean[["Age"]]
y = df_clean["ElimWeek"]

In [9]:
# Train model here.
# Don't forget to display the equation of the plane that best fits your data!

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [13]:
X_test

      Age
73   26.0
228  28.0
400  27.0
35   24.0
44   24.0
..    ...
314  29.0
63   27.0
83   23.0
317  25.0
299  31.0

[122 rows x 1 columns]

In [10]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [12]:
slope = model.coef_[0]
intercept = model.intercept_
print(slope, intercept) # y = -0.09x + 5.5, where x is age and y is elim week

-0.09523341039893751 5.505681538688574

In [15]:
X_test.head()

      Age
73   26.0
228  28.0
400  27.0
35   24.0
44   24.0

### 3. Testing Your Model
In the cell seen below, write the code you need to test your linear regression model. 

*Note, a model is considered a level 5 if it achieves at least 60% prediction accuracy or achieves an RMSE of 2 weeks or less.*

In [16]:
predictions = model.predict(X_test)
predictions = [int(x) for x in predictions]

In [21]:
y_test = list(y_test)

In [23]:
count = 0
for i in range(len(predictions)):
    if predictions[i] == y_test[i]:
        count = count + 1

print(count/len(predictions))

0.1721311475409836

### 4. Final Answer

In the first cell seen below, state the name of your predicted winner. 
In the second cell seen below, justify your prediction using an evaluation technique like RMSE or percent accuracy.

#### State the name of your predicted winner here.

#### Justify your prediction here.